@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This assignment is to learn and practice working with data using the MVC model.<br />
        In this assignment, the skills to query, search and retrieve data and present it using the MVC web templates, are tested.
        A wide range of web technologies are used ranging from HTML/CSS to the main technologies ASP.NET, MVC Application and Razor.
    </p>
</article>

<aside>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>