@model Assignment2.Models.crewGrid

@{
    ViewBag.Title = "Delete Staff Assignment";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <h2>@ViewBag.Title</h2>

            <h3>Are you sure you want to delete this?</h3>

            <fieldset>
                <legend>crewGrid</legend>


                <table>
                    <thead>
                        <tr>
                            <th scope="col">Staff Name           </th>
                            <th scope="col">Flight Day          </th>
                            <th scope="col">From       </th>
                            <th scope="col">To         </th>
                            <th scope="col">Aircraft Model           </th>
                            <th scope="col">Starting Date           </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="oddrow">
                            <td>@Html.DisplayFor(model => model.name)</td>
                            <td>@Html.DisplayFor(model => model.flightDay)</td>
                            <td>@Html.DisplayFor(model => model.fromAirport)</td>
                            <td>@Html.DisplayFor(model => model.toAirport)</td>
                            <td>@Html.DisplayFor(model => model.aircraftModel)</td>
                            <td>@Html.DisplayFor(model => model.startDate )</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p>
                    <input type="submit" value="Delete" />

                </p>
            }

            </div></section>
    }

@Html.ActionLink("Back to List", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
