@model IEnumerable<Assignment2.Models.crewGrid>
@{
    WebGrid grid = new WebGrid(Model);
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>

                <h2>People</h2> 
                @grid.GetHtml(columns: grid.Columns(
                    grid.Column("name", "Crew Name"),
                    grid.Column("flightDay", "Flight Day"),
                    grid.Column("fromAirport", "From"),
                    grid.Column("toAirport", "To"),
                    grid.Column("aircraftModel", "Aircraft Model"),
                    grid.Column("startDate", "Starting Date"),
                                      grid.Column(header: "Delete Record", format: (item) => Html.ActionLink("Delete", "DeleteCrewFlight", new { cId = item.crewId, fId = item.flightId}))
                ) )
                
            </p>
        </div>
    </section>
}
<h3>More Features</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("New Staff Assignment", "newCabinAssignment")</h5>
        @Html.ActionLink("Assign a staff member to a new flight", "newCabinAssignment")
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>
</ol>
